<div class="full-bg">
    <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="first-half">
                        <div class="to-place">



                            <h1>
                                Welcome Back !
                            </h1>
                            <h3>Login Here </h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="sec-half">
                        <div class="head-1">

                            <h1 class="login-text">
                                Login
                            </h1>
                        </div>
                        <h3>Welcome to our website</h3>



                        <div class=" e-ma">
                            <div>
                                <span for="E-mail" class="e-label">E-mail</span> <br>
                                <input type="text" class="E-mail" placeholder="E-mail">
                            </div>
                        </div>
                        <div class=" e-pass">
                            <div>
                                <span for="pass">password</span><br>

                                <input type="text" class="pass" placeholder="password">
                            </div>
                        </div>
                        <a href="" class="for-get">Forget password?</a>
                        <div class="sign-inn">
                            <a href="#">Sign in</a>
                        </div>

                    </div>





                </div>
            </div>
    </div>
</div>